@import url('https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css');

body {
    background-color: #F5F1E6; /* Updated background color */
}

.google-visualization-tooltip {
    white-space: pre-wrap;
}
.checkbox-container {
    max-height: 500px;
    overflow-y: auto;
}
.table-container {
    max-height: 250px; /* Adjust height to fit 7 lines */
    overflow-y: auto;
    position: relative;
}
.table-container thead th {
    position: sticky;
    top: 0;
    background: white;
    z-index: 1;
}
.container {
    margin: 40px auto; /* Adjust margin to make it wider */
    max-width: 1200px; /* Adjust max-width to make the panel wider */
}
.row {
    display: flex;
    flex-wrap: wrap;
}
.col-md-9, .col-md-3 {
    padding: 0 15px;
}
.col-md-9 {
    flex: 0 0 75%;
    max-width: 75%;
}
.col-md-3 {
    flex: 0 0 25%;
    max-width: 25%;
}
.card-header {
    background-color: #003f5a; /* Updated color */
    color: #fff; /* Text color */
}
.btn-primary {
    background-color: #de6600; /* Updated color */
    border-color: #de6600; /* Match border color */
}
.btn-primary:hover {
    background-color: #b34d00; /* Darker shade for hover */
    border-color: #b34d00; /* Match border color */
}
.table-hover tbody tr:hover {
    background-color: rgba(254, 160, 47, 0.3); /* Light transparent color */
}
