
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About - Gene Expression Web Application</title>
</head>
<body>
    <h1>About </h1>
    <p>Jolafin s text This Flask web application provides an interface to explore gene expression data 
        from the GTEx project and immune disease data. Users can view gene expression 
        levels across different tissues, explore disease pathways, and retrieve gene 
        information related to specific disease pathways.</p>
</body>
</html>