<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Immune Disease Explorer</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <div class="container mt-5">
        <header class="mb-4">
            <h1 class="text-center">Welcome to the Immune Disease Exploer</h1>
        </header>
        <section id="description" class="mb-4">
            <div class="card">
                <div class="card-header">
                    <h2>Immune Disease Data and Gene Expresison</h2>
                </div>
                <div class="card-body">
                    <p>This Flask web application provides an interface to explore gene expression data from the GTEx 
                        project and immune disease data. Users can view gene expression levels across different tissues, 
                        explore disease pathways, and retrieve gene information related to specific disease pathways.</p>
                </div>
            </div>
        </section>
        <nav>
            <!-- ...existing navigation panel code... -->
        </nav>
        <div class="text-left mt-4">
            <a href="{{ url_for('disease_explorer') }}" class="btn btn-primary">Disease Explorer</a>
        </div>
        <section id="about_project" class="mt-4">
            <div class="card">
                <div class="card-header">
                    <h2>Project Background</h2>
                </div>
                <div class="card-body">
                    <p>This project was developed as part of my Master’s studies in Data Science for Life Sciences, specifically for the module Database. The aim of this project was to explore the integration of biological datasets, leveraging database management and analysis techniques to address key challenges in life sciences.</p>
                </div>
            </div>
        </section>
    </div>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>